@page
@{
    ViewData["Title"] = "No such page";
    Layout = "_ErrorLayout";
}
    <center>
        <h1>404 Not found</h1>
        <p>No such page exists or you donot have  the permission to access this page</p>
        <p>Go to <a href="/home"> index </a> page</p>
    </center>