@page "/packing-types"
@model Progbiz.PackingTypeModel
@{
    ViewData["Title"] = "Packing Types";
    ViewData["ParentMenu"] = "Master";
    ViewData["PageURL"] = "packing-types";
    ViewData["MasterPageURL"] = "packing-types";
}

<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <partial name="_BreadCrumb" />
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-with-nav">
                        <div class="card-header">
                            <div class="row row-nav-line">
                                <ul class="nav nav-tabs nav-line nav-color-secondary" role="tablist">
                                    <li class="nav-item"> <a class="nav-link" role="tab" aria-selected="true">@ViewData["Title"]</a> </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body">
                            <form method="post" id="formBasic" enctype="multipart/form-data">

                                <div class='mt-3 mb-3 overflow-table'>
                                    <table id="gridFields" class="table table-bordered table-head-bg-info table-bordered-bd-info mt-4" role="grid" aria-describedby="add-row_info">
                                        <thead>
                                            <tr>
                                                <th>Packing Type Name</th>
                                                <th style="width:10px"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int i = 0; i < Model.Data.Count(); i++)
                                            {
                                                <tr>
                                                    <td>
                                                        <input type="hidden" asp-for="Data[i].PackingTypeID" />
                                                        <input class="form-control" type="text" asp-for="Data[i].PackingTypeName">
                                                    </td>
                                                    <td style="width:10px">
                                                        <a onclick="removeTableRow(this,$(this).closest('table').attr('id'))"><span class="fa fa-trash"></span></a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td>
                                                    <input class="form-control" type="text" id="txtPackingTypeName">
                                                </td>
                                                <td style="width:10px">
                                                    <a class="" onclick="addItem($(this).closest('table').attr('id'));"><i class="fa fa-plus-circle"></i></a>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div class="text-right mt-3 mb-3">
                                    <partial name="_SaveButton" />
                                </div>
                                <partial name="_ErrorPartial" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    var gridFields = [
            {
                FieldType: "text",
                FieldName: "PackingTypeName",
                ControlName: "txtPackingTypeName"
            },
            {
                FieldType: "hidden",
                FieldName: "PackingTypeID",
            },
        ];

    $(function () {

         addItem = function (tableId) {
            addTableRow(tableId, 'Data', gridFields);
            $("#txtPackingTypeName").focus();
        };
    });

</script>