@page
@using Louvre.Pages
@model Louvre.Pages.QRCodeModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>QRCode</title>
</head>
<body>
    
    <img src="@Model.Image">
    
</body>
</html>
