<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<title>@ViewData["Title"] - Louvre</title>

	<base href='@Url.Content("~/")'>

	<partial name="_URL" />
</head>
<body>
	<div class="col-md-12">
		@RenderBody()
		<div class="space"></div>
	</div>
</body>
</html>
