@page "/change-password"
@model Louvre.Pages.ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
    ViewData["ParentMenu"] = "Account";
    ViewData["PageURL"] = "change-password";
    ViewData["MasterPageURL"] = "change-password";
}
<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <partial name="_BreadCrumb" />
            <div class="row">
                <div class="col-md-8">
                    <div class="card card-with-nav">
                        <div class="card-header">
                            <div class="row row-nav-line">
                                <ul class="nav nav-tabs nav-line nav-color-secondary" role="tablist">
                                    <li class="nav-item"> <a class="nav-link" role="tab" aria-selected="true">@ViewData["Title"] Details</a> </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body">
                            <form method="post" enctype="multipart/form-data" id="formBasic">
                                <div class="col-md-6 col-md-offset-3">
                                    <div class="box-white col-md-12">


                                        <div class='col-md-12'>
                                            <div class="form-group">
                                                <label>User</label>
                                                <input type="text" value="@User.Identity.Name" class="form-control" readonly>
                                            </div>
                                        </div>

                                        <div class='col-md-12'>
                                            <div class="form-group">
                                                <label>Current Password</label>
                                                <input type="password" asp-for="Data.CurrentPassword" class="form-control">
                                            </div>
                                        </div>

                                        <div class='col-md-12'>
                                            <div class="form-group">
                                                <label>New Password</label>
                                                <input type="password" asp-for="Data.Password" class="form-control">
                                            </div>
                                        </div>

                                        <div class='col-md-12'>
                                            <div class="form-group">
                                                <label>Confirm Password</label>
                                                <input type="password" asp-for="Data.ConfirmPassword" class="form-control">
                                            </div>
                                        </div>


                                        <div class="text-right">
                                            <partial name="_SaveButton" />
                                            <button type="reset" class="btn btn-danger">Reset</button>
                                        </div>

                                        <partial name="_ErrorPartial" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    $(function () {


        $('#btnSave').click(function (evt) {
            PostForm(evt, '/change-password?handler=Save', '#formBasic', "saved");
        });

        saved = function () {
            window.location.href = '/home';
        }

    });
</script>

