@page "/forgot-password"
@model Louvre.Pages.Account.ForgotPasswordModel
@{
	ViewData["Title"] = "Forgot Password";
	Layout = "_LoginLayout";
}


		<div class="container container-login animated fadeIn">
			<h3 class="text-center">Forgot Password</h3>
			<div class="login-form">

				<form method="post" enctype="multipart/form-data">

					<div class="form-group">
						<label for="EmailAddress" class="placeholder"><b>Email Address</b></label>
						<input asp-for="EmailAddress" required type="text" class="form-control" autofocus>
					</div>

					<div class="row form-action">
						<div class="col-md-6">
							<a href="login" class="btn btn-danger btn-link w-100 fw-bold">Cancel</a>
						</div>
						<div class="col-md-6">
							<input type="submit" id="btnSave" value="Submit" class="btn btn-primary w-100 fw-bold" />
						</div>
						<partial name="_ErrorPartial" />
					</div>
				</form>

				
			</div>
		</div>
